<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <div id="signers-box">
            <h2>Thanks to all supporters from {{ city }}:</h2>
                {{#signers }}
                <div class="signers">
                    <p>
                        <a href="https://{{ user_url }}">{{ user_first }} {{ user_last}}</a>
                    </p>
                    <p>{{ user_age }}</p>
                </div>
                {{/signers }}

        </div>

        {{>footer }}

    </body>
</html>
